* {
  box-sizing: border-box;
}

.App {
  position: relative;
}

.App .row {
  display: flex;
  width: 100%;
}

.App header {
  padding: 2rem;
  display: flex;
  justify-content: space-between;
  border-bottom: 2px solid #ccc;
  /* color: #333; */
}

.App.dark-theme header {
  background-color: #323233;
  color: #ccc;
}

.App header ul {
  display: flex;
  padding: 0;
  list-style-type: none;
  margin: 0;
}

.App header li {
  padding: 1rem;
}

.App header a {
  text-decoration: none;
  color: inherit;
  font-weight: bold;
}

.App header button {
  width: 50px;
  height: 50px;
  cursor: pointer;
}

.App.App.dark-theme {
  background: #29292d;
}

.App .card-component {
  padding: 2rem 3rem;
  text-align: center;
  width: 33.33%;
  /* background: #ccc; */
  color: #333;
  border: 2px solid #ccc;
  margin: 10px;
}

.App.dark-theme .card-component {
  /* background-color: #333; */
  color: #ccc;
}

.App .preferences-component {
  padding: 2rem;
  /* background: #ccc; */
  color: #333;
}

.App.dark-theme .preferences-component {
  /* background-color: #333; */
  color: #ccc;
}

.App footer {
  padding: 4rem 2rem 2rem;
  border-top: 2px solid #ccc;
  color: #333;
  display: flex;
  justify-content: space-between;
}

.App.dark-theme footer {
  background-color: #323233;
  color: #ccc;
}

.App.dark-theme .alert-component {
  background-color: #323233;
  color: #ccc;
  border: 1px solid #ccc;
}

.App footer ul {
  width: 100%;
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.App footer a {
  text-decoration: none;
  color: inherit;
  font-weight: bold;
  padding: 0 1rem;
}

.App footer label {
  display: flex;
}

.alert-component {
  background: #fff;
  border: 1px solid #333;
  color: #333;
  border-radius: 10px;
  padding: 2rem;
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}

.alert-component.hidden {
  display: none;
}

.alert-component .close {
  background: transparent;
  border: none;
  padding: 0;
  max-width: 18px;
  max-width: 18px;
}

.alert-component .close svg {
  fill: #ccc;
}

.alert-component label {
  display: block;
}

.alert-component input {
  width: 100%;
}

.alert-component .control {
  margin-top: 18px;
}

.button-wrapper {
  text-align: center;
  margin-bottom: 1rem;
}

/* START THEMES */

.App.cta-default-theme.dark-theme a {
  color: #ccc;
}

.App.cta-default-theme a {
  color: #333;
}

.App.cta-default-theme button {
  border: 1px solid #ccc;
}
/* Octopus Theme */
.App.cta-octopus-theme a {
  color: #7653bf;
}

.App.cta-octopus-theme header {
  border-bottom: 2px solid #7653bf;
}

.App.cta-octopus-theme footer {
  border-top: 2px solid #7653bf;
}

.App.cta-octopus-theme .card-component {
  border: 2px solid #7653bf;
}

.App.cta-octopus-theme button {
  border: 1px solid #7653bf;
}

/* Gold Theme */
.App.cta-gold-theme a {
  color: #ffaa3f;
}

.App.cta-gold-theme header {
  border-bottom: 2px solid #ffaa3f;
}

.App.cta-gold-theme footer {
  border-top: 2px solid #ffaa3f;
}

.App.cta-gold-theme .card-component {
  border: 2px solid #ffaa3f;
}

.App.cta-gold-theme button {
  border: 1px solid #ffaa3f;
}

/* Fire Theme */
.App.cta-fire-theme a {
  color: #ff5a36;
}

.App.cta-fire-theme header {
  border-bottom: 2px solid #ff5a36;
}

.App.cta-fire-theme footer {
  border-top: 2px solid #ff5a36;
}

.App.cta-fire-theme .card-component {
  border: 2px solid #ff5a36;
}

.App.cta-fire-theme button {
  border: 1px solid #ff5a36;
}

/* Avocado Theme */
.App.cta-avocado-theme a {
  color: #01bc68;
}

.App.cta-avocado-theme header {
  border-bottom: 2px solid #01bc68;
}

.App.cta-avocado-theme footer {
  border-top: 2px solid #01bc68;
}

.App.cta-avocado-theme .card-component {
  border: 2px solid #01bc68;
}

.App.cta-avocado-theme button {
  border: 1px solid #01bc68;
}

/* Flamingo Theme */
.App.cta-flamingo-theme a {
  color: #FDA4B8;
}

.App.cta-flamingo-theme header {
  border-bottom: 2px solid #FDA4B8;
}

.App.cta-flamingo-theme footer {
  border-top: 2px solid #FDA4B8;
}

.App.cta-flamingo-theme .card-component {
  border: 2px solid #FDA4B8;
}
  
.App.cta-flamingo-theme button {
  border: 1px solid #FDA4B8;
}

/* END THEMES */